@import "../../variables";

.manage-info{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  position: relative;
  .layout-content{
    flex-grow: 1;
    width: 100%;
    min-height: calc(100vh - 296px);
    .layout{
      height: 100%;
      display: flex;
      .sider, .content{
        height: 100%;
      }
      .sider{
        background-color: $primaryColor;
        color: #eeeeee;
        padding: 24px 0;
        font-size: 16px;
        .sider-list{
          .sider-item{
            line-height: 3;
            user-select: none;
            padding: 0 20px;
            text-align: center;
            cursor: pointer;
            &:hover{
              background-color: #111111;
            }
          }
        }
      }
      .content{
        padding: 36px 0;
        .inner-content{
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
}

.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  .button-list{
    .button{
      margin-right: 28px;
    }
  }
}

.add-window{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 999999;
  .inner-window{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    margin: auto;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: scroll;
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 24px 0;
    &::-webkit-scrollbar{
      width: 5px;
    }
    .window-content{
      width: 80%;
      margin: auto;
      .add-info-list{
        .add-info-item{
          display: flex;
          align-items: center;
          margin-bottom: 24px;
          span.label{
            display: inline-block;
            width: 100px;
            margin-right: 16px;
            white-space: nowrap;
            text-align: right;
          }
        }
      }
    }
  }
}
