@import "../../variables";

.header-wrapper{
  padding: 12px 48px;
  background-color: $primaryColor;
  width: 100%;
  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .title{
      font-size: 18px;
      font-weight: 600;
      color: #eeeeee;
    }
    .personal-space{
      display: flex;
      align-items: center;
      &:hover{
        cursor: pointer;
      }
      .avatar{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 6px;
      }
      .iconfont{
        font-weight: 600;
        font-size: 20px;
        color: #eeeeee
      }
    }
  }
}

.menu-wrapper{
  background-color: $primaryColor;
  box-shadow: 0 0 4px #000000;
  position: absolute;
  z-index: 9999;
  top: 48px;
  right: -24px;
  .menu-list{
    padding: 0;
    margin: 0;
    .menu-item{
      padding: 0 20px;
      font-size: 12px;
      cursor: pointer;
      &:nth-of-type(1){
        padding-top: 22px;
        padding-bottom: 10px;
      }
      &:nth-of-type(2){
        padding-bottom: 22px;
        padding-top: 10px;
      }
      span{
        color: #eeeeee;
        margin-right: 12px;
      }
    }
  }
}